<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>歌手分类</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/singer.css">
    <script src="/php/ktv/Public/js/jquery.js"></script>
    <script src="/php/ktv/Public/js/singer.js"></script>
    <script src="/php/ktv/Public/js/iscroll.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p class="">音乐库</p>
    <a></a>
</header>
<dl></dl>
<ul class="aside">

</ul>
<nav>
    <li class="active">歌手</li>
    <li>排行</li>
    <li>常唱</li>
    <li>推荐歌单</li>
    <!--<a href="">
        <div class="snack">
            <span>排行</span>
        </div>
    </a>
    <a href="">
        <div class="snack">
            <span>常唱</span>
        </div>
    </a>
    <a href="">
        <div class="snack">
            <span>推荐歌单</span>
        </div>
    </a>-->
</nav>
<div class="container">
    <div class="content singer">
        <div id="search">
            <input type="text" placeholder="请输入您要搜索的歌手">
            <div class="tip"></div>
        </div>
        <div class="wrapper singerlist">
            <ul class="scroll active">
                <!--<li>
                    <img src="../../img/xgs.png" alt="" name="simg">
                    <div class="shadow">
                        <span class="sname">内地偶像组合</span>
                    </div>
                </li>
                <li>
                    <img src="../../img/nan1.png" alt="" name="simg">
                    <div class="shadow">
                        <span class="sname">内地男歌手</span>
                    </div>
                </li>
                <li>
                    <img src="../../img/singer-06.png" alt="" name="simg">
                    <div class="shadow">
                        <span class="sname">内地女歌手</span>
                    </div>
                </li>
                <li>
                    <img src="../../img/singer-04.png" alt="" name="simg">
                    <div class="shadow">
                        <span class="sname">港台歌手</span>
                    </div>
                </li>
                <li>
                    <img src="../../img/singer-03.png" alt="" name="simg">
                    <div class="shadow">
                        <span class="sname">日韩女歌手</span>
                    </div>
                </li>
                <li>
                    <img src="../../img/qcox.png" alt="" name="simg">
                    <div class="shadow">
                        <span class="sname">内地偶像组合</span>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="content rank">
        <div class="ranksort">
            <li>月排行</li>
            <li class="actives">季排行</li>
            <li>年排行</li>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="banner">
                    <li>
                        <a href=""><img src="/php/ktv/img/xgs.png" alt=""></a>
                        <div class="sou">演员——薛之谦
                            <div class="right"><img src="/php/ktv/img/at_04.png" alt=""></div>
                        </div>
                    </li>
                    <li>
                        <a href=""><img src="/php/ktv/img/singer-04.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="/php/ktv/img/singer-04.png" alt=""></a>
                    </li>
                </div>
            </div>
        </div>
        <div class="wrapper ranklist">
            <ul class="scroll active">
                <!--<li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                </li>
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                </li>
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                </li>
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                </li>
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="content often">
        <div class="wrapper oftenlist">
            <ul class="scroll active">
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                    <span class="add"></span>
                </li>
                <li>
                    <span id="touxiang"><img src="/php/ktv/img/singer-04.png" alt=""></span>
                    <div class="son">
                        <span>告白气球-周杰伦</span>
                        <span>04"52'</span>
                    </div>
                    <span class="add"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="content recommend">
        <div class="wrapper recommendlist">
            <ul class="scroll active">
                <li>
                    <img src="/php/ktv/img/xgs.png" alt="">
                    <span>摔跤吧，爸爸</span>
                    <div class="des">
                        <div class="renshu">
                            <div class="ren"></div>
                            <div class="shu">27万</div>
                        </div>
                        <div class="tingzhong">
                            <div class="ting"></div>
                            <div class="zhong">86首</div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/php/ktv/img/xgs.png" alt="">
                    <span>摔跤吧，爸爸</span>
                    <div class="des">
                        <div class="renshu">
                            <div class="ren"></div>
                            <div class="shu">27万</div>
                        </div>
                        <div class="tingzhong">
                            <div class="ting"></div>
                            <div class="zhong">86首</div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/php/ktv/img/xgs.png" alt="">
                    <span>摔跤吧，爸爸</span>
                    <div class="des">
                        <div class="renshu">
                            <div class="ren"></div>
                            <div class="shu">27万</div>
                        </div>
                        <div class="tingzhong">
                            <div class="ting"></div>
                            <div class="zhong">86首</div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/php/ktv/img/xgs.png" alt="">
                    <span>摔跤吧，爸爸</span>
                    <div class="des">
                        <div class="renshu">
                            <div class="ren"></div>
                            <div class="shu">27万</div>
                        </div>
                        <div class="tingzhong">
                            <div class="ting"></div>
                            <div class="zhong">86首</div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/php/ktv/img/xgs.png" alt="">
                    <span>摔跤吧，爸爸</span>
                    <div class="des">
                        <div class="renshu">
                            <div class="ren"></div>
                            <div class="shu">27万</div>
                        </div>
                        <div class="tingzhong">
                            <div class="ting"></div>
                            <div class="zhong">86首</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>